.menu0 {
    width: 80%;
    background-color: #1f2937;
    margin: auto;
    max-width: 500px;
  }
  .menu1 {
    width: 80%;
    background-color: yellow;
    
    max-width: 500px;
  }
  .menu2 {
    width: 80%;
    background-color:blue;
    
    max-width: 500px;
  }
  .menu3 {
    width: 80%;
    background-color:aqua;
    
    max-width: 500px;
  }