body {
  font: roboto;
  text-align: center;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  color: aliceblue;
  padding-bottom: 10%;
}

nav h2 {
  font-size: 24px;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

nav ul li {
  padding: 10px;
}
nav ul li > * {
  color: white;  
}


div img {
  width: 500px;
  height: 200px;
  border-radius: 10px;
}

div {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  flex-direction: row;
  color: aliceblue;
  padding-bottom: 7.5%;
}

div div {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  flex-direction: column;
  color: aliceblue;
}

div div h1 {
  font-size: 48px;
  color: white;
}

div div p {
  font-size: 18px;
  color: #e5e7eb;
}

#button {
  border: none;
  background-color: #3882f6;
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  border-radius: 12px;
}

main {
  padding-bottom: 10%;
}

main h2 {
  font-size: 48px;
  color: #1f2937;
}

main ul.pic {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
}

#ranimg {
  border-radius: 12px;
  border-color: #4ef638;
}

main ul.text {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

.quote {
  background-color: #e5e7eb;
  font-family: italic;
  font-size: 36px;
  color: #1f2937;
  display: flex;
  padding: 100px;
  flex-direction: column;
  background-size: auto;
  padding-bottom: 10%;
}

.quote h3 {
  font-weight: bold;
  color: black;
  font-size: 22px;
  font-style: normal;
  padding-left: 50%;
}

.bottom {
  border-color: white;
  background-color: #3882f6;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  border-radius: 12px;
}

.cont {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 15%;
}

#button2 {
  border-color: white;
  background-color: #3882f6;
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  border-radius: 12px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  font-size: 24px;
  padding: 36px;
}
